.submitButton {
  background-color: #4840BB;
  margin: auto;
  color: white;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  width: 450px;
  text-align: center;
  border-radius: 11px;
  border: none;
  height: 55px;
  cursor: pointer;
}