.checkbox {
  border: lightgray;
  margin-bottom: 15px;
}

.showPWLabel {
  color: grey;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  margin-bottom: 15px;
}